<div class="chat-header clearfix">

  <div class="chat-about">
    <div class="chat-with">Chat with <%= conversation.recipient.username%></div>
  </div>
</div>

<div class="messages-list" data-conversation-id="<%= conversation.id %>">
  <ul>
    <% messages.each do |message| %>
      <%= render message, user: user%>
    <% end %>
  </ul>

</div>


<div class="chat-message clearfix">

  <form class="new_message">
      <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
      <input name="user_id" type="hidden" value="<%= user.id %>">
      <textarea name="body" class="message-to-send" id="message-to-send"></textarea>
      <input type="submit" class="button" value="Send">
  </form>

</div>
