<div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-body">
      <div class="messages-list">
        <ul>
          <% messages.each do |message| %>
            <%= render message, user: user%>
          <% end %>
        </ul>
          <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
            <%= f.hidden_field :user_id, value: user.id %>
            <%= f.text_area :body, class: "form-control" %>
            <%= f.submit "Send", class: "btn btn-success" %>
          <% end %>
      </div>
    </div>
  </div>
</li>
